.chart div{  /* Derrick's Graph */
    font: 14px san-serif;
    background-color: #7F0000;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.chart2 div{  /*Rick's Graph*/
  font: 14px san-serif;
  background-color: blue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
